.main {
  background-color: white;
  height: 100vh;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.headerbar {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.header {
  color: #552cb4;
  font-size: 36px;
}

.reward {
  width: 350px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #552cb4;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

.rewardrow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rewardrow p {
  margin-left: 4px;
}

.name {
  color: #f72585;
  font-weight: bold;
  font-size: 18px;
}
.btn {
  background-color: #F72585;
  width: 100%;
}