.main {
  background-color: white;
  /* height: 90vh; */
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 24px;
  padding-top: 5rem;
}

.headerbar {
  color: #552CB4;
  max-width: 600px;
  min-width: 350px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 1%;
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  min-width: 350px;
  width: 100%;
}

.select {
  color: #552CB4;
}

.label {
  color: #552CB4;
  width: 100%;
  font-family: sans-serif;

}

.dateinput {
  width: 100%;
  padding: 16px 8px;
  border: #552CB4 1px solid;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
}
.btnrow {
  margin-top: 3rem;
  width: 100%;
}

.btn {
  background-color: #9b1250;
  width: 100%;
  color: #FFFFFF;
  /* margin-left: 5%; */
}

.btn:hover {
  background-color: #E3227A;
}

.btn:focus {
  background-color: #D1196D;
}