.title {
    position: fixed;
    top: 0;
    left: 0;
    width: auto;
    text-align: left;
    color: #FFFFFF;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 36px;
    padding: 8%;
  }