.main {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 90vh;
}

.container {
  max-width: 1160px;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header {
  padding-top: 4rem;
  padding-bottom: 1rem;
}

.header h1 {
  color: #463489;
  font-size: 36px;
  font-weight: bold;
}

.data {
  background-color: #463489;
  color: #fff;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 100%;
}

.data h2 {
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
}

.data h3 {
  color: #f99fc8;
  font-size: 42px;
  margin-bottom: 1rem;
  font-family: sans-serif;
}

.leaderboard h4 {
  color: #552cb4;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.leaderboard ol {
  padding-left: 10%;
  padding-top: 1%;
  padding-bottom: 3%;
}

.leaderboard li {
  font-family: "Open Sans";
  font-size: 22px;
  font-family: sans-serif;
}

.lists {
  padding-bottom: 1rem;
}

.btnrow {
  display: flex;
  width: 100%;
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  background-color: #9b1250;
  width: 100%;
}

.btn:hover {
  background-color: #e3227a;
}

.btn:focus {
  background-color: #d1196d;
}