.main {
    background-color: white;
    height: 100vh;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
  }
  
  .box {
    max-width: 1160px;
    width: 100%;
    padding: 24px;
  }
  
  .header {
    color: #552CB4;
    font-family: 'Open Sans';
    font-size: 36px;
  }

  .searchTitle h1 {
    color: #552CB4;
    font-size: 32px;
    font-family: sans-serif;
  }

  .data {
    background-color: #463489;
    color: #fff;
    padding: 1rem;
    border-radius: 4px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
  }
  
  .data h2 {
    color: #fff;
    font-size: 24px;
    font-family: sans-serif;
  }
  
  .data h3 {
    color: #F99FC8;
    font-size: 42px;
    margin-bottom: 1rem;
    font-family: sans-serif;
  }

  .inputField {
    background-color: white;
    border-radius: var(--border-radius);
}