.header {
  
  width: 100%;
}

.header h1 {
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
}



.body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 1160px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  min-height: 100vh;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 350px;
}

.scrollableContainer {
  display: flex;
  flex-direction: row;
  height: 400px;
  width: 350px; 
 /* set to the desired width, can be in px, em, rem, %, etc. */
  padding: 1rem 0rem; /* optional: gives some space inside the scrollable box */
  overflow-x: scroll; /* allows horizontal scrolling */
  column-gap: 1rem;
}

.cardEntity {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  height: 375px; 
  width: 275px!important;
  text-align: center;
  border-radius: 16px;
  /* display: inline-block; */
}

h2.sectionHead {
  color: #ffffff;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 24px;
  padding-top: 2rem;
}

.cardLabel {
  color: #3a0ca3;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin-top: 10%;
}

.business {
  margin: 0.5rem;
  padding: 4%;
  font-size: 14px;
  font-weight: bold;
  color: #a32e6e;
  height: 5%;
}

.description {
  margin: 1%;
  width: 100%;
  height: 30%;
  text-wrap: wrap;
  padding-top: 10%;
}

.expireDate {
  color: #ad0051;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  font-weight: bold;
  margin-top: 10%;
  flex-wrap: wrap;
  width: 100%;
  position: center;
}

.pinkButton {
  background-color: #a32e6e;
  color: #ffffff;
  font-family: "arial";
  font-size: 16px;
  width: 84px;
  height: 11%;
  border-radius: var(--border-radius);
  border: white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}

.pinkButton:hover {
  background-color: #e3227a;
}

.pinkButton:focus {
  background-color: #d1196d;
}
