.main {
    background-color: #463489;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
  }
  
  .container {
    max-width: 1160px;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .header{
    padding-top: 4rem;
    padding-bottom: 1rem;
    width: fit-content;
  }
  
  .box {
    width: 100%;
  }
  
  .header h1 {
    background-color: #FFFFFF;
    color: #463489;
    font-size: 36px;
    font-weight: bold;
    padding: 2%;
    width: 100%;
    border-radius: 8px;
  }
  
  .info h2 {
    color: #F9D7E3;
  }

  .info p {
    color: #FFFFFF;
  }

  .pillgrid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  
    margin-top: 1rem;
    row-gap: 0.75rem;
  }
  
  .pill {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
  }
  
  .pill h3 {
    background-color: #463489;
    color: white;
    padding: 8px;
    width: 100%;
    text-align: center;
    border-radius: 8px 8px 0px 0px;
  }

  .picture {
    border-radius: 8px;
  }
  
  .pill p {
    padding: 8px;
  }
  
  .rewardCode p{
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    background-color: #E3227A;
    border-radius: 8px;
    padding: 2%;
    width: 350px;
  }

  .btnrow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
  }
  
  .pinkButton {
    background-color: #9B2C6B;
    color: #FFFFFF;
    text-transform: none;
    font-size: medium;
    border-radius: var(--border-radius);
    border: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
    width: 40%;
    height: 45px;
    cursor: pointer;
  } 
  
  .pinkButton:hover {
    background-color: #9b1250;
  }
  
  .pinkButton:focus {
    background-color: #D1196D;
  }
  