.main {
  height: 100vh;
  width: 100%;
  padding: 24px;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.header {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36px;
  padding-top: 25%;
}

.form {
  width: 350px;
  /* height: 420px; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: table-row;
  max-width: var(--max-width);
  padding-top: 10% auto;
  }

.column {
  display: table-column;
  max-width: var(--max-height);
  }

  .pinkButton {
    background-color: #9B2C6B;
    color: #FFFFFF;
    text-transform: none;
    font-size: 18;
    border-radius: var(--border-radius);
    border: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  }
  
  .pinkButton:hover {
    background-color: #E3227A;
  }
  
  .pinkButton:focus {
    background-color: #D1196D;
  }
  
.inputField {
    background-color: white;
    border-radius: var(--border-radius);
    border-color: #F72585;
}

.dateinput {
  width: 100%;
  padding: 16px 8px;
  border: #F72585 1px solid;
  border-radius: var(--border-radius);
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 16px;
}

.label {
  color: white;
}

.clickText {
    color: #F9D7E3;
    font-size: 18;
    border: white;
    text-transform: none;
  }