.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7rem;
  min-height: 95vh;
}

.header {
  color: #FFFFFF;
  font-weight: bold;
  font-size: 36px;
  padding-bottom: 25%;
  padding-top: 10%;
}

.form {
  width: 350px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.row {
  display: table-row;
  max-width: var(--max-width);
  padding-top: 10% auto;
  margin: 2%;
  }

.column {
  display: table-column;
  max-width: var(--max-height);
  padding-top: 10%;
  margin: 5%;
  }

  .pinkButton {
    background-color: #9B2C6B;
    color: #FFFFFF;
    text-transform: none;
    font-size: 18;
    border-radius: var(--border-radius);
    border: white;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  }
  
  .pinkButton:hover {
    background-color: #E3227A;
  }
  
  .pinkButton:focus {
    background-color: #D1196D;
  }
  
.inputField {
    background-color: white;
    border-radius: var(--border-radius);
    border-color: #F72585;
}

.inputDateField {
  background-color: white;
  border-radius: var(--border-radius);
  border-color: #F72585;
  width: auto;
  height: auto;
}

.label {
  color: white;
}

.clickText {
    color: #F9D7E3;
    font-size: 18;
    border: white;
    text-transform: none;
  }