.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  min-height: 100vh;
  width: 100%;
}

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.header {
  width: 100%;
  text-align: left;
  color: #ffffff;
  font-weight: bold;
  font-size: 36px;
  padding-top: 1rem;
}

.pinkButton {
  position: center;
  margin: 5%;
  background-color: #9b2c6b;
  color: #ffffff;
  font-family: "arial";
  font-size: 18;
  width: 325px;
  height: 42px;
  border-radius: var(--border-radius);
  border: white;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
  align-self: center;
}

.pinkButton:hover {
  background-color: #e3227a;
}

.camerabox {
  background-color: #ffffff;
}
.camera {
  width: 350px;
  height: 460px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffffff;
  padding: 8px;
  /* margin-left: 2%; */
}

.row {
  height: 100px;
}